body {
    background-image: linear-gradient(rgba(.5, .5, .5, .5), rgba(0.5, 0.5, 0.5, 0.5)), url(https://wallpaperaccess.com/full/2137804.jpg);
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

header {
    font-size: x-large;
    color: aliceblue;
}
section {
    background: brown;
    box-shadow: 3px 3px 4px 4px antiquewhite;
    color: aliceblue;
    font-size: 17px;
    text-align: center;
    opacity: 85%;
    border-radius: 15px;
    width: 565px;
    padding: 3px 3px 3px 5px; 
    position: relative; left: 420px; bottom: 100px;
}
main {
    background: antiquewhite;
    opacity: 85%;
    border-radius: 15px;
    width: 400px;
    padding: 20px 25px 35px 20px;
    transform:translate(100%);
    position: relative;bottom: 75px; left: 45px;}

.center h3 {
   text-align: center; 
   padding: 5px 5px 20px 5px;
   border-bottom: 5px solid brown;}

.center form {
    padding: 0 40px;
    box-sizing: border-box;}

form .txtField {
    position: relative;
    border-bottom: 3px solid brown;
    margin: 30px 0;}

.txtField input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 18px;
    border: none;
    background: none;
    outline: none;}

.txtField label {
    position: absolute; top: 50%; left: 5px;
    color: brown;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
    transition: .8s;}

i {
    position: absolute; top: 50%; left: 92px;
    transform: translateY(-50%);}

.txtField span::before{
    content: '';
    position: absolute; top: 40px;
    left: 0;
    width: 0%;
    height: 3px;
    background: green;
    transition: .8s;}

.txtField  input:focus ~ label,
.txtField  input:valid ~ label {
    top: -5px;
    color: green}

.txtField input:focus ~ span::before,
.txtField input:valid ~ span::before {
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    cursor: pointer;}
.pass:hover{
    text-decoration: underline;}

input[type="submit"]{
    width: 150px;
    position: relative; left: 90px;
    height: 50px;
    border: 4px solid rgb(111, 13, 13) ;
    background: brown;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;}

input[type="submit"]:hover{
    background-color: rgb(111, 13, 13);
    border-color: rgb(238, 243, 90);
    transition: .5s;}

    .signupLink{
        margin: 30px 0;
        text-align: center;
        font-size: 16px;
        color: #666666;}
    
    .signupLink a{
        color: brown;
        text-decoration: none;}
    
    .signupLink a:hover{
        text-decoration: underline;}